@charset "utf-8";
/* CSS Document */

h6{
	color:#09F;
	font-size:18px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	margin-bottom:-5px;
}
g{
	color:#C6F;
	font-size:13px;
	font-family:Helvetica;
	font-weight:normal;
}
h5 {
	color:#C03;
	font-size:17px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	margin-bottom:-5px;
}
p {
	color:#0080C0;
	font-family:Helvetica;
	font-size:14px;
	font-weight:normal;
}
table.stats {
	border-collapse:collapse;
}
table.stats th {
	color:#198dc3;
	font-weight:bold;
}
table.stats th, td {
	border: 1px solid #6fa7d6;
	padding:5px;
	font-size:12px;
}
table.stats td {
	color:#6fa7d6;
}
div.stat {
	float:right;
	padding-left:5px;
	
}
section.guide_content {
    margin:auto ;
    width:710px;
    height: auto;
    padding:10px 5px 5px 1px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	float:left;
}

section.guide_content > figure.ddownload_h {
    width:auto;
    height:auto;
    position:relative;
    margin: 0px 0px 32px 0px;
    padding:0px;
    top: 0px;
    left: -4px;
}

    figure.ddownload_h h1 {
        font-family:"Times New Roman", Times, serif;
        position:absolute;
        top:52px;
        left:85px;
        font-size:21px;
        margin:0px;
        padding:0px;
        color:#9d9d9d;
    }

section.guide_content > figure.ddownload {
    width:745px;
    height:auto;
    position:relative;
    margin: 14px 0px 0px 14px;
    padding:0px;
    top: 0px;
    left: 0px;
}

    figure.ddownload div.wallpaper {
        margin: 0px 36px 35px 0px;
        padding:0px;
        width:208px;
        height:175px;
        display:inline;
        float:left;
    }

    div.wallpaper > img {
        padding:0px;
        margin:0px 0px 2px 0px;
    }

    figure.ddownload > img {
        margin: 10px 0px;
    }


    figure.ddownload em {
        margin:0px;
        padding:0px;
        line-height:18px;
	    font-family:Tahoma, Geneva, sans-serif;
	    font-size:12px;
        font-style:normal;
	    font-weight:bold;
	    color:#198dc3;
    }

    figure.ddownload em.small {
	    font-size:10px;
    }

    figure.ddownload h4 {
        margin:0px;
        padding:0px;
        line-height:18px;
        color:white;
        font-family:"Times New Roman", Times, serif;
        font-size:18px;
    }

    figure.ddownload h5 {
        margin:0px;
        padding:0px;
        line-height:18px;
    }

    figure.ddownload p {
        margin:0px;
        padding:0px;
	    line-height:18px;
        width: 690px;
    }

    figure.ddownload p.key {
        width:auto;
        display:inline-box;
        float:left;
    }

    figure.ddownload p.small {
        font-size:10px;
	    line-height:12px;
    }

    figure.ddownload p.clan {
        width:auto;
        height:21px;
    }

    figure.ddownload table.char {
        padding:10px 5px;
	    font-size:12px;
	    color:#6fa7d6;
        vertical-align:top;
        border-collapse:collapse;
        border: 0px solid #6fa7d6;  
    }

    figure.ddownload table.fig {
        padding:0px;
        margin:0px;
        font-size:12px;
	    color:#6fa7d6;
        border-collapse:collapse;
        border: 0px solid #6fa7d6;
    }

        figure.ddownload > table.fig > td {
           border:0px;
           padding:0px;
        }

    figure.ddownload ol {
        margin:0px;
        padding:0px 0px 0px 1.3em;
        text-indent:-1.3em;
        width: auto;
        color:#6fa7d6;
	    font-size:12px;
	    font-weight:normal;
        line-height:18px;
        list-style-position:inside;
    }

    figure.ddownload ol.lower-alpha {
        list-style-type:lower-alpha;
    }

    figure.ddownload ol.number {
        list-style-type:decimal;
    }

    figure.ddownload ul {
        margin:0px;
        padding: 0px;
        overflow:hidden;
    }

    figure.ddownload ul.disc {
        margin-left:0px;
        padding:0px 0px 0px 1.3em;
        text-indent: -1.3em;
        overflow:auto;
        width: auto;
        color:#6fa7d6;
	    font-size:12px;
	    font-weight:normal;
        line-height:18px;
        list-style-type:disc;
        list-style-position:inside;    
    }

    figure.ddownload > ul > li {
	    list-style:none;
	    display:inline;
	    float:left;
    }

    figure.ddownload > ul.disc > li {
        list-style:inherit;
	    display:list-item;
	    float:none;
    } 

    figure.ddownload > ul > li.key1 {
        margin-bottom:15px;
        width:240px;
        line-height:20px;
    }

    figure.ddownload > ul > li.key2 {
        margin-bottom:15px;
        width:240px;
        line-height:32px;
    }

    figure.ddownload > ul > li.key3 {
        margin-bottom:15px;
        width:240px;
        line-height:45px;
    }

div.sshot_1280 {
	background-repeat:no-repeat;
	width:103px;
	height:18px;
    margin:0px 2px 0px 0px;
    padding:0px;
    border:0px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/download_1280.png);
    display:inline;
    float:left;
}

div.sshot_1024 {
	background-repeat:no-repeat;
	width:103px;
	height:18px;
    margin:0px;
    padding:0px;
    border:0px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/download_1024.png);
    display:inline;
    float:left;
}

div.logo_atomicgamer {
    background-repeat:no-repeat;
	width:180px;
	height:35px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/logo_atomicgamer.png);
    display:inline;
    float:left;
    margin-right:15px;
}

div.logo_ausgamers {
    background-repeat:no-repeat;
	width:180px;
	height:35px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/logo_ausgamers.png);
    display:inline;
    float:left;
	margin-right:15px;
}

div.logo_gamershell {
    background-repeat:no-repeat;
	width:180px;
	height:35px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/logo_gamershell.png);
    display:inline;
    float:left;
	margin-right:15px;
}

div.download_direct01 {
    background-repeat:no-repeat;
	width:199px;
	height:83px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/download_direct01.png);
    display:inline;
    float:left;
    margin-right:15px;
}

div.download_direct02 {
    background-repeat:no-repeat;
	width:216px;
	height:82px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/download_direct02.png);
    display:inline;
    float:left;
}

div.download_fansitekit {
    background-repeat:no-repeat;
	width:343px;
	height:83px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/download_fansitekit.png);
    display:inline;
    float:left;
}

div.download_bar {
    background-repeat:no-repeat;
	width:688px;
	height:6px;
	background-image:url(http://filegate.nttgame.com/knight/images/131218/line3.png);
    display:inline;
    float:left;
}

.promoCodeInput {
    /*background-repeat:no-repeat;
    background-image:url(http://filegate.nttgame.com/knight/images/131218/promotion_box.png);*/
    width:648px;height:86px;
    margin:0;padding:21px 26px 21px 21px;
	border: 1px solid #6f6f6f;
	border-radius:5px;
}

    .promoCodeInput .code {
        width:108px; height:29px;
        border:solid 1px; border-color:white;
        margin-top:26px;
        background-color:#898989;
        display:inline; float:left;
        font-size:25px;
		text-transform: uppercase;
    }

    .promoCodeInput h5 {
        color:white;
    }

    .promoCodeInput .codeDash {
        width:14px; height:31px;
        background-color:transparent;
        margin:26px 0 0 0;padding:0;
        color:white;
        display:inline; float:left;
        text-align:center;
        line-height:31px;
        vertical-align:middle;
    }

    .promoCodeInput .btnSubmit, .resultbox2 .btnSubmit {
        width:96px; height:44px;
        background-color:#790000;
        background-repeat:no-repeat;
        margin:21px 0 0 0;padding:0;
        font-size:14px;
        display:inline; float:right;
        color:white;
        line-height:44px;
        vertical-align:middle;
        text-align:center;
    }

    .resultbox1 {
        background-image:url(http://filegate.nttgame.com/knight/images/131218/promotion_result01.png);
        background-repeat:no-repeat;
        width:670px;height:28px;
        margin:10px 0 0 0;padding:10px;
        margin-left:3px;
    }

        .resultbox1 h1 {
            font-size:14px;color:#ff9000;font-weight:normal;
            margin:0;padding:0;
        }

    .warningMessage {
        line-height:23px;
        vertical-align:middle;
        width:auto;height:23px;
        margin:0;padding:0;
    }

    .resultbox2 {
        /*background-image:url(http://filegate.nttgame.com/knight/images/131218/promotion_result02.png);
        background-repeat:no-repeat; */
        width:650px;
		min-height:145px;
        margin:10px 0 0 0;
		padding:22px;        
		border: 1px solid #6f6f6f;
		border-radius:5px;
    }
        .resultbox2 h1 {
            font-size:14px;color:#ff9000;font-weight:normal;
            margin:0;padding:0;
        }

        .resultbox2 p {
            color:white;
        }

.warningSign {
    background-image:url(http://filegate.nttgame.com/knight/images/131218/warning.png);
    background-repeat:no-repeat;
    width:25px;height:23px;
    margin:0 5px 0 0;padding:0;
    display:inline; float:left;
}

.esnLogo {
    margin:8px 22px 2px 0px;padding:0;
    width:215px;height:60px;
    display:inline;float:left;
}
