@charset "utf-8";

div.event-banners-bg{
	position:inherit;
	z-index:10;
}
div.event_banners {
    height: 250px;
    width: 1200px;
}
/*Orta Banner*/
div.main-section {
    max-height: 515px;
	padding:40px -1px 0px 0px;
    margin:40px 0px 0px 160px;
    max-width: 995px;
}

ul.sub-section {
	list-style-type: none;
	width: 200px;
	height: 300px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	overflow: hidden;
	padding-top: 0px;
}

li.sub-banner {
	padding:0px 0px 0px 0px;
    height: 80px;
    width: 200px;
 	font-size:0;
	line-height:0px;
}
