@charset "utf-8";
/* CSS Document */
div.title_box {
	background-color:#0e62d8;
	color:#ffffff;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:15px;
	text-align:center;
	padding:7px;
	font-weight:bold;
}
div.detail_box {
	background-image:url(http://filegate.nttgame.com/knight/images/131218/blue_box.png);
	background-repeat:repeat-y;
	vertical-align:top;

}
div.detail_box > figure.banners {
	background-image:url(http://filegate.nttgame.com/knight/images/131218/news_banner1.jpg);
	margin-left:15px;
	margin-top:20px;
	width:672px;
	height:145px;
	background-repeat:no-repeat;
	text-align:center;
}
div.detail_box > figure.banners > h1 {
	color:#00ffff;
	font-weight:bold;
	font-size:30px;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow: 2px 2px #333333;
	padding-top:40px;
}
div.detail_box > figure.banners > h2 {
	color:#ffffff;
	font-weight:bold;
	font-size:20px;
	font-family:Verdana, Geneva, sans-serif;
	text-shadow: 2px 2px #333333;
	margin-top:-5px;
}
div.detail_box p {
	font-size:12px;
	color:#6fa7d6;
	padding:10px 20px 30px 20px;
	text-align:left;
}
span.light_blue {
	color:#39f8ff;
	font-weight:bold;
}
div.detail_box > p.date_grey12 {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:12px;
	padding:0;
	margin: 10px 0 -10px 20px;
	color:#999999;
}
div.f_right {
	float:right;
	margin:-8px -12px 0 0;
	vertical-align:central;
	height:20px;
	
}
div.list {
	background-image:url(http://filegate.nttgame.com/knight/images/131218/list_bt.png);
	background-repeat:no-repeat;
	width:71px;
	height:30px;
	margin-left:18px;
	padding-bottom:20px;
	margin-top:-20px;
	
}
a:hover div.list {
	background-image:url(http://filegate.nttgame.com/knight/images/131218/list_over.png);
	background-repeat:no-repeat;
	width:71px;
	height:30px;
}
th.event_thumb {
	background-color:#198dc3;
	height:30px;
	width:170px;
}
th.event_subject {
	background-color:#198dc3;
	height:30px;
	width:500px;
}
th.event_date {
	background-color:#198dc3;
	height:30px;
	color:#ffffff;
}
h5.event_subject {
	font-size:14px;
	color:#ff9900;
	font-weight:bold;
	margin:0 0 5px 0;
}
.topb198dc3c {
	color:#198dc3;
	text-align:center;
	vertical-align:text-top;
}
